<%= simple_form_for(@pin, html: { class: "form-horizontal"}) do |f| %>
  <%= f.error_notification %>
  <%= f.full_error :image_content_type, class: "alert alert-error" %>

  <div class="alert-info" style="padding-bottom:1px; padding-top:1px; margin-bottom: 12px;"><p style="padding-top:5px; padding-left:5px">Upload an image</p> <%= f.input :image %></div>
  
    <%= f.input :description, as: :text, input_html: { rows: "3", class: 'form-control'}, placeholder: 'What is this pin about?' %>
<br />
  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
  <br />
<% end %>
